body {
	background:#ffffff;
	/*background-image:url(../img/wall4.png);
	background-repeat:repeat;*/
}

#dialog-page {
    padding-top: 10px;
}

.page-content-dialog {
	border-radius:5px;
	background:#ffffff;
	padding:10px;
	height:auto;
}
