
/*** All custom styles are defined here ***/

#page {
    padding-top: 65px;
}

.page-content {
	border-radius:5px;
	background:#ffffff;
	padding:20px;
	height:auto;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
	-moz-box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
	box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
}

body {
	/*background-image:url(../img/wall4.png);*/
    background-color: #f8f8f8;
	background-repeat:repeat;
}

.breadcrumb {
    background-color: #FFFFFF;
    border-radius: 4px;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 8px 15px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
	-moz-box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
	box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
}

.footer {
	text-align:center;
	font-size:10px;
    padding: 20px;
}

.hero-unit-home {
	margin-bottom: 0px;
	margin-top: 0px;
	background-color:#F5F5F5;
}

.nav-pills > li > a {
	background-color: #0f76b2;
	color:#ffffff;
}

.nav-pills > li > a:hover,  .nav-pills > li > a:focus {
    background-color: #2fa4e7;
    color:#ffffff;
}

input[type="text"], input[type="password"], select, textarea{
	background: #F2F2F2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#FFFFFF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #F2F2F2,  #FFFFFF);
	background: -ms-linear-gradient(top,  #F2F2F2,  #FFFFFF);
	background: -o-linear-gradient(top,  #F2F2F2,  #FFFFFF);
}

.grid-view>table th {
    color: #ffffff;
}

.ui-datepicker{ 
	z-index: 100000 !important;
}

.gmnoprint img {
    max-width: none; 
}

.form-inline > input,select {
   margin:0px 3px;
}

/* Bootstrap 3.0 pannel */
.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
    border-bottom: 0 none;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel > .table, .panel > .table-responsive > .table {
    margin-bottom: 0;
}
.panel > .panel-body + .table, .panel > .panel-body + .table-responsive {
    border-top: 1px solid #DDDDDD;
}
.panel > .table > tbody:first-child th, .panel > .table > tbody:first-child td {
    border-top: 0 none;
}
.panel > .table-bordered, .panel > .table-responsive > .table-bordered {
    border: 0 none;
}
.panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .panel > .table-bordered > tbody > tr > th:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .panel > .table-bordered > tfoot > tr > th:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .panel > .table-bordered > thead > tr > td:first-child, .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .panel > .table-bordered > tfoot > tr > td:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0 none;
}
.panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0 none;
}
.panel > .table-bordered > thead > tr:last-child > th, .panel > .table-responsive > .table-bordered > thead > tr:last-child > th, .panel > .table-bordered > tbody > tr:last-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th, .panel > .table-bordered > tfoot > tr:last-child > th, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th, .panel > .table-bordered > thead > tr:last-child > td, .panel > .table-responsive > .table-bordered > thead > tr:last-child > td, .panel > .table-bordered > tbody > tr:last-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td, .panel > .table-bordered > tfoot > tr:last-child > td, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0 none;
}
.panel > .table-responsive {
    border: 0 none;
    margin-bottom: 0;
}
.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0px 15px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    color: inherit;
    font-size: 14px;
	font-weight:normal;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-title > a {
    color: inherit;
}
.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}
.panel-group .panel {
    border-radius: 4px;
    margin-bottom: 0;
    overflow: hidden;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0 none;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #DDDDDD;
}
.panel-group .panel-footer {
    border-top: 0 none;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #DDDDDD;
}
.panel-default {
    border-color: #DDDDDD;
	/*-webkit-box-shadow: 2px 2px 8px 0px rgba(59,169,232,0.65);
	-moz-box-shadow: 2px 2px 8px 0px rgba(59,169,232,0.65);
	box-shadow: 2px 2px 8px 0px rgba(59,169,232,0.65);*/
}
.panel-default > .panel-heading {
	background: #F2F2F2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#FFFFFF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #F2F2F2,  #FFFFFF);
	background: -ms-linear-gradient(top,  #F2F2F2,  #FFFFFF);
	background: -o-linear-gradient(top,  #F2F2F2,  #FFFFFF);
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-primary {
    border-color: #DDDDDD;
}
.panel-primary > .panel-heading {
    background-color: #0f76b2;
    border-color: #DDDDDD;
    color: #FFFFFF;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-success {
    border-color: #DDDDDD;
}
.panel-success > .panel-heading {
    background-color: #73A839;
    border-color: #DDDDDD;
    color: #468847;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-warning {
    border-color: #DDDDDD;
}
.panel-warning > .panel-heading {
    background-color: #DD5600;
    border-color: #DDDDDD;
    color: #C09853;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-danger {
    border-color: #DDDDDD;
}
.panel-danger > .panel-heading {
    background-color: #C71C22;
    border-color: #DDDDDD;
    color: #B94A48;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-info {
    border-color: #DDDDDD;
}
.panel-info > .panel-heading {
    background-color: #033C73;
    border-color: #DDDDDD;
    color: #3A87AD;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}

.sponsers {
    margin-bottom: 20px;
    height: auto;
    position: relative;
    text-align: center;
}
.sponsers img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    padding: 0 57px;
}
.sep img {
    margin: 0 auto;
    position: relative;
    display: block;
    margin-left: 300px;
}
.site_by {
    margin-top: 10px;
    font-size: 10px;
}
.logo-align{
    text-align:center;
}
.capitalize {
    text-transform: capitalize;
}
/* End */

/* Loigin Page */
.login-page-content {
	left:35%;
	width:25%;
	height:auto;
	top:25%;
	position:absolute;
	border-radius:5px;
	background:#ffffff;
	padding:20px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
	-moz-box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
	box-shadow: 2px 2px 8px 0px rgba(107,104,107,0.65);
}

.login-title {
  margin: -20px -20px 21px;
  line-height: 60px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px white;
  background: #33485d/*47AEEA*/;
  border-bottom: 0px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Telex',sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
}
/* End */

/* Responsive media queries */
/* Large desktop */
@media screen and (max-width: 1200px), screen and (max-width: 1366px) {
	
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
	.login-page-content{
		left:30%;
		width:40%;
		top:10%;
	}
	table {
		overflow-x: auto;
		display: block;
	}
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
	table {
		overflow-x: auto;
		display: block;
	}
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
	#page {
	    padding-top: 0px;
	}
	
	.login-page-content{
		left:5%;
		width:77%;
		top:5%;
	}
	
	table {
		overflow-x: auto;
		display: block;
	}
	
	.hero-unit h1{
		font-size: 20px;
	}
}

.navbar .brand{
    padding: 9px 20px 16px;;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 1px solid #adadbd;
    border-radius: 6px;
    box-shadow: none;
    padding: 7px 6px;
    text-indent: 1px;
}

a {
    color: #45a1de;
    text-decoration: none;
}
a:hover, a:focus {
    color: #45a1de;
    text-decoration: underline;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #45a1de;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 6px;
    color: #5a6a6b;
    display: inline-block;
    font-size: 15px;

    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
input[disabled], input[readonly], textarea[disabled], textarea[readonly] {
    background-color: #eaeded;
    border-color: transparent;
    color: #929a9b;
    cursor: default;
}
#ajax_flash a strong {
    color: #15a589;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 6px;
    color: #5a6a6b;
    display: inline-block;
    font-size: 15px;
    min-height: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #eaeded;
    cursor: not-allowed;
}
.badge {
    border-radius: 10px;
    margin: 2px;
    padding: 6px 10px;
    text-shadow: none;
}
span.more{
    font-size: 12px;
}

.wrap h4, .grid-view th h4 {
    font-size: 18px;
}
.alert {
    margin-bottom: 5px;
}
.table-noborder td, .table-noborder th {
    border-left: none;
}